@use '../../styles/partials/breakpoints' as *;
@use '../../styles/partials/colors' as *;

.snack-requests {
    background: $ceramic;
    padding: 2rem;
    border-radius: 0.625rem;
  
    .address-search {
      display: flex;
      flex-direction: column;

      @include tablet-and-desktop {
        display: flex;
        flex-direction: row;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
      }
  
      input {
        min-width: 18.75rem;
        margin-top: 1rem;

        @include tablet-and-desktop {
          margin-right: 1rem;
          margin-top: 0;
        }
      }

      button {

        @include mobile {
          margin: 1rem 0;
        }
      }
    }
  
    .locations {
      margin-bottom: 2rem;
  
      button {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  
    .requests {
      margin-bottom: 2rem;
    }
  }