@use '../styles/partials/breakpoints' as *;
@use '../styles/partials/colors' as *;
@use '../styles/partials/typography' as *;

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'B612';
}

body {
  background-color: $purple-main;
}

.container {
   @include desktop {
       max-width: 1080px;
       margin: 0 auto;
   }

   &__content {
       @include desktop {
           display: flex;
       }
   }
}

.table {
  border-radius: 0.625rem;
  overflow: hidden;

  .table-header {
    background-color: $purple-main;
    display: flex;
    padding: 1rem 0;

    @include mobile {
      display: none;
    }

    .col {
      font-weight: bold;
      color: $ceramic;
      text-align: left;
      width: 20%;
      padding: 0 1rem;
    }
  }

  .table-body {
    background-color: $ceramic;

    .table-row {
      display: flex;
      padding: 1rem 0;
      align-items: center;

      @include mobile {
        flex-direction: column;

        button {
          margin-top: 1.5rem;
        }
      }

      .col {
        color: $purple-main;
        width: 20%;
        padding: 0 1rem;

        @include mobile {
          width: 100%;
        }

        .col-header {
          display: none;

          @include mobile {
            display: inline;
            font-weight: bold;
          }
        }
      }
    }
  }
}