@use '../../styles/partials/colors' as *;
@use '../../styles/partials/breakpoints' as *;

.create-request {
    background: $ceramic;
    padding: 2rem;
    border-radius: 0.625rem;
  
    .address-search {
      display: flex;
      flex-direction: row;
      margin-top: 1.5rem;
      margin-bottom: 2rem;
  
      input {
        min-width: 18.75rem;
        margin-right: 1rem;
      }
    }
  
    .locations {
      margin-bottom: 2rem;
  
      button {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
    }
  
    .snack-details {
      input {
        display: block;
        margin-bottom: 1.5rem;
        min-width: 18.75rem;
      }
  
      p {
        margin-bottom: 1.5rem;
      }
    }
  
    button[type="submit"] {
      margin-top: 1.5rem;
    }
  }